/* header {
  background-color: rgb(251, 186, 88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}
h1,
h3 {
  color: rgb(192, 30, 221);
  padding-left: 30px;
  margin: 0;
}
img {
  width: 100px;
} */
