.container {
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
  border: 1rem solid rgb(204, 200, 200);
  padding: 10px;
}
h3 {
  font-size: 1.5rem;
  color: rgb(96, 94, 94);
}
h4 {
  font-size: 1.2rem;
  color: rgb(96, 94, 94);
}
img {
  margin: 0;
  width: 300px;
}
