.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 20px;
}

.productCard {
  border: 1px solid rgb(193, 189, 189);
  text-align: center;
  gap: 20px;
  padding: 20px;
}

button {
  background-color: white;
  border-style: solid;
  padding: 5px 30px;
}

h3 {
  color: red;
}
